.navbar {
  background-color: rgb(220, 228, 235);
  height: 13vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 8vh;
  width: auto;
}
